/*navbar*/
.navbar {
    box-shadow: 1px 1px 7px 1px #00b712;
}

/*when links hover*/
.nav-link:hover {
    color: white;
}

.itemDetImageDivInTable{
    width: 42px;
    height: 35px;
    background: url("../images/details.png");
    background-size: cover;
    background-position: center;
}
.swal-wide{
    width:1000px !important;
}
