
.main {
    width: 100%;
    /*background-color: #121F26;*/
    /*display: flex;*/
    display: flex;
    /*flex-direction: column;*/
    /*position: relative;*/
    background: linear-gradient(145deg, #181f34, #1d243e);
}

/*aside  >>>>>>>>>>>>>>>*/
.aside {
    width: 26%;
    height: 647px;
    /* background: linear-gradient(to left, #ffffff, #ffffff, #7cd6ff); */
    display: flex;
    position: sticky;
    flex-direction: column;
    top: 30px;
    margin-left: 42px;
    /*background: #FFD15C;*/
    background: #7c5ef273;
    box-shadow: 3px 0px 9px 14px #7c5ef273;
}

/*start profile section >>>>>>>>>>>>>*/
.profile {
    height: 25%;
    width: 100%;
    /*background-color: yellow;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.my_profile {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: url("../../assets/images/My.png");
    background-size: 300px;
    background-position-x: 217px;
    background-position-y: -27px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    /* border-right: 2px solid #003e80;*/
}

.profile_content {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}

.name {
    font-size: 1.825em;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 3px;
    color: white;
    font-family: 'Aldrich', sans-serif;
}

.position {
    font-size: 13px;
    font-family: 'Noto Sans Display', sans-serif;
    color: #ffffff8a;
    font-weight: 520;
}

.sri-lanka {
    font-weight: bold;
    color: white;
}

/*Start button section   >>>>>>>>>>>>>*/

.btn_Section {
    width: 100%;
    height: 60%;
    /*background-color: blue;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn_nav_box {
    /*background-color: yellow;*/
    width: 82%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.btn_box {
    color: white;
    width: 80%;
    height: 37px;
    background-color: #041f28f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /* box-shadow: 0px 2px 11px 0px #0000008c; */
    letter-spacing: 0.18em;
    font-size: 11px;
}

.navigation_names {
    font-family: 'Montserrat', sans-serif;
}

.contact_me {
    width: 100%;
    height: 15%;
    background: #313C42;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.copyright {
    color: white;
}

.btn_ContactMeBox {
    color: white;
    width: 89%;
    height: 50px;
    background-color: #041f28f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /* box-shadow: 0px 2px 11px 0px #0000008c; */
    letter-spacing: 0.18em;
}


/*End Aside bar  >>>>>>>>>>>>>>>*/


/*Main Side  >>>>>>>>>>>>>>>>>>>>>>>*/

.main_side {
    width: 100%;
    /* padding-left: 20%; */
    /* height: 200vh!important; */
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
}

/*Home Page Starts  >>>>>>*/
.homepage {
    width: 100%;
    /*height: 100vh !important;*/
    height: 620px;
    display: flex;
    flex-direction: column;
    /*background: #313C42;*/
    border-top-right-radius: 102px;
    margin-bottom: 2%;
}

/*Top section   >>>>>*/
.top_section {
    width: 100%;
    height: 70%;
    display: flex;
}

.welcome_details_box {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome_details {
    width: 77%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.image_box {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my_image {
    width: 100%;
    height: 100%;
    background: url(../images/My_crop.png);
    background-size: cover;
    background-position: center;
    z-index: 1;
}

#decoration_box {
    height: 368px;
    width: 368px;
    border-radius: 100%;
    background-color: #7c5ef2;
    border: 2px solid white;
    margin-left: -386px;
}

.txt_hi {
    color: #7c5ef2;
    font-size: 60px;
    margin-bottom: 20px;
}

.txt_name {
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}

.txt_des {
    color: #7c5ef2;
    font-size: 33px;
    margin-top: 8px;
    margin-left: 4px;
    font-family: 'Roboto', sans-serif;
}

.btn_hireMe {
    width: 150px;
    border: none;
    height: 50px;
    border-radius: 7px;
    background-color: #7c5ef2;
    color: white;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

.btn_hireMe:hover {
    background-color: white;
    color: #7c5ef2;
    border: 3px solid #7c5ef2;
}


/*Bottom section   >>>>>*/

.bottom_section {
    width: 100%;
    height: 30%;
    /*background-color: pink;*/
    display: flex;
}

.social_link_box {
    width: 50%;
    height: 100%;
    /*border: 1px solid red;*/
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.social_links {
    width: 80%;
    height: 80%;
    /* border: 1px solid green; */
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.fa-brands {
    color: #7c5ef2;
    font-size: 50px;
}

.fa-brands:hover {
    color: white;
}

.deco_box {
    width: 46%;
    height: 100%;
    /*border: 1px solid red;*/
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.coder_designer {
    width: 80%;
    height: 80%;
    /*border: 1px solid green;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff6e;
}

.txt_coder {
    margin-top: 0;
    /*color: rgba(0, 0, 0, 0.18);*/
    font-size: 62px;
    margin-bottom: 0;
}

.txt_designer {
    margin-top: 8px;
    /*color: rgba(0, 0, 0, 0.18);*/
    font-size: 36px;
    margin-bottom: 0;
}

.txt_developer {
    /*color: rgba(0, 0, 0, 0.18);*/
    font-size: 24px;
    margin-top: 17px;
}

/*<<<<<<<  Home Page Ends  >>>>>>>>>*/


/*<<<<<<  About Me page Started  >>>>>>>>>>>>>*/

.aboutPage {
    width: 100%;
    height: 649px;
    display: flex;
    flex-direction: column;
    /*background: #313C42;*/
    margin-top: 2%;
}

.header_aboutMe {
    width: 100%;
    height: 13%;
    /* background-color: #3f51b5; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header_aboutMe > h1 {
    color: white;
    padding: 8px;
    border-radius: 8px;
    margin-left: 56px;
    margin-top: 57px;
    margin-bottom: 0;
    font-size: 38px;
    font-family: 'Aldrich', sans-serif;
    box-shadow: 0px 1px 0px 0px black;
}

.mid_sec_about {
    width: 100%;
    height: 50%;
    /*background-color: yellow;*/
    display: flex;
}

.my_about {
    width: 50%;
    height: 100%;
    /*background-color: green;*/
    display: flex;
    flex-direction: column;
}

.side_image_box {
    width: 50%;
    height: 100%;
    /*border: 1px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.my_details_box {
    width: 100%;
    height: 40%;
    /*background-color: #3d0047;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.my_article {
    width: 86%;
    height: 37%;
    /* background-color: white; */
    text-align: center;
    font: 400 20px/34px Google Sans, -apple-system, BlinkMacSystemFont, sans-serif;
    color: #cdcdcd;
}

.my_about > ul:nth-child(1) {
    list-style: none;
    font-family: 'Aldrich', sans-serif;
    font-size: 23px;
    color: white;
    padding-left: 121px;
    padding-top: 50px;
}

.my_about > ul:nth-child(1) > li {
    padding-bottom: 20px;
}

.my_about > ul:nth-child(1) > li > i {
    color: #7c5ef2;
}

#btn_DownloadCV {
    width: 192px;
    border: none;
    height: 50px;
    border-radius: 7px;
    background-color: #7c5ef2;
    color: white;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

#btn_DownloadCV:hover {
    background-color: white;
    color: #7c5ef2;
    border: 3px solid #7c5ef2;
}

.side_image_about {
    width: 55%;
    height: 90%;
    /* border: 1px solid green; */
    background: url(../images/programmer.svg);
    background-size: cover;
    background-position: center;
    opacity: 1;
    border-radius: 100%;
    border: 6px solid #7c5ef2;
}

/*<<<<<<<<<<<     Services page Starts >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

#servicesPage {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    /*background: #313C42;*/
    margin-top: 3%;
}

#header_service {
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#header_service > h1 {
    color: white;
    padding: 8px;
    border-radius: 8px;
    margin-left: 56px;
    margin-top: 57px;
    margin-bottom: 0;
    font-size: 38px;
    font-family: 'Aldrich', sans-serif;
    box-shadow: 0 1px 0 0 black;
}

#service_sec {
    width: 100%;
    height: 87%;
    /*border: 1px solid green;*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.service_div {
    background: linear-gradient(145deg, #181f34, #1d243e);
    /* background: #7c5ef2; */
    border-radius: 10px;
    box-shadow: 4px 6px 8px 2px #101523;
    height: 340px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.ser_icons {
    font-size: 70px;
    color: #7c5ef2;
}

.service_titles {
    color: #cdcdcd;
    font-size: 26px;
}

.service_arti {
    color: #888;
    font-size: 20px;
    text-align: center;
    width: 85%;
}

#mobile_app_title {
    margin-top: 41px;
}


/*<<<<<<  Education page starts   >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

#educationPage {
    width: 100%;
    height: 760px;
    display: flex;
    flex-direction: column;
    /*background: #313C42;*/
    margin-top: 3%;
}

/*header*/
#header_education {
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#header_education > h1 {
    color: white;
    padding: 8px;
    border-radius: 8px;
    margin-left: 56px;
    margin-top: 57px;
    margin-bottom: 0;
    font-size: 38px;
    font-family: 'Aldrich', sans-serif;
    box-shadow: 0 1px 0 0 black;
}

/*main*/
#mainSecEducation {
    width: 100%;
    height: 87%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#years_side {
    height: 88%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.year_div {
    width: 206px;
    height: 50px;
    display: flex;
    align-items: center;
}

.rectangle {
    width: 170px;
    height: 40px;
    background: #7c5ef2;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.traingle {
    width: 0;
    height: 0;
    border-top: 27px solid transparent;
    border-left: 23px solid #7c5ef2;
    border-bottom: 27px solid transparent;
}

.years {
    color: #cdcdcd;
}

/*line*/
#line_div {
    width: 2%;
    height: 83%;
    position: relative;
}

.line {
    height: 100%;
    width: 3px;
    background: #7c5ef2;
}

.dot {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: white;
}

#dot1 {
    top: 0;
    left: -6px;
}

#dot2 {
    top: 0;
    bottom: 0;
    margin: auto;
    left: -6px;
}

#dot3 {
    bottom: 0;
    left: -6px;
}

#edu_details {
    width: 38%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edu_levels {
    height: 17%;
    width: 100%;
}

.Edu_Stages {
    color: #cdcdcd;
}

.Edu_Place {
    color: #888;
    font-size: 19px;
}

#images_side {
    width: 17%;
    height: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#ijse_img_div {
    width: 170px;
    height: 60px;
    background: url("../images/ijse.png");
    background-size: cover;
    background-position: center;
}

#kannangara_img_div {
    width: 99px;
    height: 113px;
    background: url("../images/kannangara.png");
    background-size: cover;
    background-position: center;
}

#makalandawa_img_div {
    width: 135px;
    height: 67px;
    background: url("../images/makalandawa.jpg");
    background-size: cover;
    background-position: center;
}

/*<<<<<<<<<<<<<<   Education page Ends    >>>>>>>>>>>>>>>>>>>>>*/

/*<<<<<<<<<<<<<<<<<Skills page  >>>>>>>>>>>>>>>>>>>>>>*/

#skillsPage {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    /*background: #313C42;*/
    margin-top: 2%;
    align-items: center;
}

/*header*/
#header_skills {
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#header_skills > h1 {
    color: white;
    padding: 8px;
    border-radius: 8px;
    margin-left: 56px;
    margin-top: 22px;
    margin-bottom: 0;
    font-size: 36px;
    font-family: 'Aldrich', sans-serif;
    box-shadow: 0 1px 0 0 black;
}

/*main*/
#mainOfSkills {
    width: 90%;
    height: 87%;
    display: flex;
    flex-direction: column;
}

.subTopics {
    width: 100%;
    height: 4%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.subTopics > h1 {
    font-size: 20px;
    color: #7c5ef2;
}

.subTopics > hr {
    height: 1px;
    width: 896px;
    background: #7c5ef2;
    border: none;
}

.subTopics #hr_tools {
    width: 945px;
}

#languages_section {
    width: 100%;
    height: 64%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.lan_Box {
    width: 26%;
    height: 42%;
    background: linear-gradient(145deg, #181f34, #1d243e);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 4px 6px 8px 2px #101523;
}

#java_box {
    width: 37%;
    height: 62%;
    background: url("../images/java.png");
    background-size: cover;
    background-position: center;
}

#javascriptBox {
    width: 37%;
    height: 62%;
    background: url("../images/Javascript.png");
    background-size: cover;
    background-position: center;
}

#javafx_Box {
    width: 37%;
    height: 62%;
    background: url("../images/javafx.png");
    background-size: cover;
    background-position: center;
}

#mysql_Box {
    width: 37%;
    height: 62%;
    background: url("../images/mysql.png");
    background-size: cover;
    background-position: center;
}

#html_Box {
    width: 32%;
    height: 59%;
    margin-top: 16px;
    background: url("../images/html.png");
    background-size: cover;
    background-position: center;
}

#css_Box {
    width: 31%;
    height: 56%;
    margin-top: 16px;
    background: url("../images/css.png");
    background-size: cover;
    background-position: center;
}

.lan_Box > h2 {
    color: #cdcdcd;
}

#tools_section {
    width: 100%;
    height: 28%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tool_Box {
    width: 9%;
    height: 45%;
}

#intellij_Box {
    background: url("../images/intellij.png");
    background-size: cover;
    background-position: center;
}

#figma_box {
    background: url("../images/figma.png");
    background-size: cover;
    background-position: center;
}

#photoshop_box {
    background: url("../images/photoshop.png");
    background-size: cover;
    background-position: center;
}

#vsCode_box {
    background: url("../images/vscode.png");
    background-size: cover;
    background-position: center;
}

#node_js_box {
    background: url(../images/nodejs.png);
    background-size: contain;
    background-position: center;
}

#slack_box {
    background: url("../images/slack.png");
    background-size: cover;
    background-position: center;
}

#hibernate_box {
    background: url("../images/hibernate.png");
    background-size: cover;
    background-position: center;
}


/*<<<<<< Projects Page Starts   >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

#projectsPage {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    /*background: #313C42;*/
    margin-top: 2%;
    align-items: center;
}

/*header*/
#header_projects {
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#header_projects > h1 {
    color: white;
    padding: 8px;
    border-radius: 8px;
    margin-left: 56px;
    margin-top: 22px;
    margin-bottom: 0;
    font-size: 36px;
    font-family: 'Aldrich', sans-serif;
    box-shadow: 0 1px 0 0 black;
}

/*main*/
#mainOfProjects {
    height: 72%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.projectBox {
    border-radius: 15px;
    width: 28%;
    height: 87%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 8px 13px 0px black;
    justify-content: space-between;
    background: linear-gradient(145deg, #181f34, #1d243e);
}

.projectBox > h1 {
    font-size: 20px;
    color: #cdcdcd;
}

.projects_image_box {
    width: 92%;
    height: 60%;
    border-radius: 0px;
    box-shadow: 0px 0px 10px 0px white;
}

#superMarketBox {
    background: url(../images/Supermarket.png);
    background-size: cover;
    background-position: center;
}

#hardwareBox {
    background: url(../images/Hardware_System.png);
    background-size: cover;
    background-position: center;
}

#hostel_box {
    background: url(../images/hostel.png);
    background-size: cover;
    background-position: center;
}

.github_icon {
    margin-bottom: 10px;
}

.github_icon > i {
    cursor: pointer;
    color: #7c5ef2;
    font-size: 44px;
}

/*footer*/

#footerOfProjects {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#footerOfProjects > div {
    width: 15%;
    height: 45%;
    border-radius: 7px;
    background: #7c5ef2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#footerOfProjects > div:hover {
    border: 3px solid #7c5ef2;
    background-color: white;
}

#footerOfProjects > div > a:hover {
    color: #7c5ef2;
}

#footerOfProjects > div > a {
    width: 100%;
    height: 100%;
    color: #cdcdcd;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*<<<<<< Projects Page Ends   >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/*<<<<<<<<     Assignments Page Starts    >>>>>>>*/

#assignmentsPage {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    /*background: #313C42;*/
    margin-top: 2%;
    align-items: center;
}

/*header*/
#header_assignments {
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#header_assignments > h1 {
    color: white;
    padding: 8px;
    border-radius: 8px;
    margin-left: 56px;
    margin-top: 22px;
    margin-bottom: 0;
    font-size: 36px;
    font-family: 'Aldrich', sans-serif;
    box-shadow: 0 1px 0 0 black;
}

/*main*/
#mainOfAssignments {
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*one box of assignment details*/
.assignment_box {
    width: 20%;
    height: 70%;
    /*border: 1px solid green;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(145deg, #181f34, #1d243e);
    box-shadow: 2px 8px 13px 0px black;
    border-radius: 15px;
}

.assignment_name {
    color: #cdcdcd;
    font-size: 19px;
}

/*image box*/
.assignment_image_box {
    width: 90%;
    height: 50%;
    box-shadow: 0px 0px 10px 0px white;
}

#assignment01_img {
    background: url("../images/Basics_Assignment_01.png");
    background-size: cover;
    background-position: center;
}

#assignment02_img {
    background: url("../images/Basics_Assignment_02.png");
    background-size: cover;
    background-position: center;
}

#assignment06_img {
    background: url("../images/Basics_Assignment_06.png");
    background-size: cover;
    background-position: center;
}

#ani_assignment_04 {
    background: url("../images/Animations_assignment_04.png");
    background-size: cover;
    background-position: center;
}

/*view button box*/
.assignment_box > div:nth-child(3) {
    width: 40%;
    height: 12%;
    background: #7c5ef2;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.assignment_box > div > a {
    color: #cdcdcd;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*hover*/
.assignment_box > div:nth-child(3):hover {
    background-color: white;
    border: 3px solid #7c5ef2;
}

.assignment_box > div:nth-child(3) > a:hover {
    color: #7c5ef2;
    font-size: 25px;
}

/*footer*/
#footerOfAssignments {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/*view all button*/
#view_All_div {
    width: 15%;
    height: 60%;
    border-radius: 7px;
    background: #7c5ef2;
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin-top: 10px;*/
}

#view_All_div > a {
    color: #cdcdcd;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*hover*/
#view_All_div:hover {
    background-color: white;
    border: 3px solid #7c5ef2;
}

#view_All_div > a:hover {
    color: #7c5ef2;
}


/*<<<<<<<<<<   Assignments page end   >>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*<<<<<<<<<<<<<<<<<<         contact me page starts       >>>>>>>>>>>>>>>>>>>>>>>*/

#contactMePage {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    /*background: #313C42;*/
    background: linear-gradient(145deg, #181f34, #1d243e);
    align-items: center;
    margin-top: 0;
}

/*header*/
#header_contact_me {
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header_contact_me > h1 {
    color: white;
    padding: 8px;
    border-radius: 8px;
    margin-left: 56px;
    margin-top: 22px;
    margin-bottom: 0;
    font-size: 24px;
    font-family: 'Aldrich', sans-serif;
    /*box-shadow: 0 1px 0 0 black;*/
}

#mainOfContactMe {
    width: 60%;
    height: 60%;
    /*border: 1px solid red;*/
    display: flex;
    background: #cdcdcd;
    border-radius: 10px;
    margin-bottom: -50px;
    z-index: 1;
    background: linear-gradient(145deg, #181f34, #1d243e);
}


.contactDetailsDiv {
    width: 50%;
    height: 100%;
    /*border: 1px solid green;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#sendAmessageDiv {
    width: 57%;
    border-right: 1px solid rgba(0, 0, 0, 0.62);
}

#sendMessageForm {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

#sendMessageForm > legend {
    color: #7c5ef2;
}

#sendMeBold {
    font-weight: bold;
    color: white;
    font-size: 20px;
}

#label {
    font-weight: bold;
    color: white;
}

input {
    border: 3px solid #7c5ef2;
    border-radius: 3px;
    background: none;
    margin-top: -14px !important;
}

textarea {
    background: none;
    border: 3px solid #7c5ef2;
    border-radius: 3px;
    width: 90%;
    margin-top: -13px !important;
}

#sendMessageForm > button {
    background-color: #7c5ef2;
    border: none;
    margin-top: 10px;
    width: 130px;
    height: 35px;
    border-radius: 7px;
    color: white;
    cursor: pointer;
}

/*right div*/
#myContactsDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
}

#h2_myContacts {
    margin-left: 10px;
    font-size: 18px;
    font-weight: lighter;
    color: #7c5ef2;
}

#h2_myContacts > span {
    font-size: 20px;
    color: white;
}

#details_list {
    margin-left: 40px;
    font-size: 18px;
}

#details_list > dl {
    font-weight: bold;
    margin-bottom: 3px;
    color: #7c5ef2;
}

#details_list > dd {
    font-size: 14px;
    color: white;
}

#details_list > dl > i {
    font-size: 20px;
    margin-right: 10px;
    color: #7c5ef2;
}


/*navigation sec*/
#footerOfContactMe {
    width: 100%;
    height: 35%;
    /*border: 1px solid #ff7373;*/
    background: linear-gradient(145deg, #181f34, #1d243e);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#txtFollowMe {
    color: #cdcdcd;
    margin-top: 60px;
}

#social_links {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

#footerOfContactMe > small {
    color: #cdcdcd;
}

body {
    background-color: #121F26;
}

/*<<<<<  Hidden navigation bar   >>>>>>>>>>>*/

#hidden_list > li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#hidden_list {
    margin: 0;
    padding: 0;
}

#hidden_nav {
    height: 60px;
    backdrop-filter: blur(10px);
    display: none;
    width: 96%;
    margin-top: -17px;
    z-index: 2;
}

#hidden_nav > ul {
    float: right;
    margin-right: 25px;
    z-index: 2;
}

#hidden_nav > ul > li {
    display: inline-block;
    line-height: 75px;
    margin: 0 15px;
}

#hidden_nav > ul > li > a {
    position: relative;
    color: white;
    font-size: 18px;
    padding: 5px 0;
    text-transform: uppercase;
    text-decoration: none;
}

#hidden_nav ul li a:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

#hidden_nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

label #btn,
label #cancel {
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/*<<<<<<<<<<<<<<<<<      MEDIA QUERIES        >>>>>>>>>>>>>>>>>>>>>>>>*/


@media all and (max-width: 1355px) {
    .aside {
        /*position: absolute;*/
        /*visibility: hidden;*/
        display: none;
    }

    #hidden_nav {
        display: block;
        position: fixed;
    }

    .homepage {
        border-top-right-radius: 0;
        margin-top: 61px;
    }

    .side_image_about {
        width: 47%;
    }

    #decoration_box {
        margin-left: -434px;
    }

    .image_box {
        width: 45%;
    }
}

@media all and (max-width: 1150px) {
    #details_list {
        margin-left: 12px;
    }

    #decoration_box {
        height: 360px;
        width: 360px;
        margin-left: -401px;
    }
}

@media all and (max-width: 1060px) {
    #hidden_nav {
        justify-content: space-evenly;
    }

    /*#hidden_list {*/
    /*    width: 83%;*/
    /*}*/
    #hidden_list > li > a {
        font-size: 15px !important;
    }

    .main_side {
        width: 96%;
    }

    .txt_coder {
        font-size: 53px;
    }

    .txt_designer {
        font-size: 31px;
    }

    .txt_developer {
        font-size: 20px;
    }

    .side_image_about {
        height: 68%;
    }

    .my_about > ul:nth-child(1) {
        font-size: 20px;
    }

    .my_article {
        margin-bottom: 35px;
    }

    /*service page*/
    #servicesPage {
        height: 519px;
    }

    #header_service {
        height: 20%;
    }

    #header_service > h1 {
        margin-top: -12px;
    }

    #service_sec {
        height: 72%;
    }

    .service_div {
        height: 305px;
        width: 247px;
    }
}

@media all and (max-width: 950px) {
    /*nav*/
    #hidden_nav > ul > li {
        margin: 0 10px;
    }

    #hidden_nav > ul > li > a {
        font-size: 13px !important;
    }

    .my_image {
        width: 84%;
        height: 88%;
    }

    #decoration_box {
        height: 320px;
        width: 320px;
        margin-left: -290px;
    }

    .coder_designer {
        margin-left: -71px;
        margin-top: -25px;
    }

    .txt_hi {
        font-size: 56px;
    }

    .txt_name {
        font-size: 72px;
    }

    .txt_des {
        font-size: 29px;
    }

    .btn_hireMe {
        width: 135px;
        height: 42px;
        font-size: 21px;
    }

    .txt_coder {
        font-size: 48px;
    }

    .txt_designer {
        font-size: 27px;
    }

    .txt_developer {
        font-size: 19px;
    }

    .homepage {
        height: 586px;
    }

    /*about me*/
    .aboutPage {
        height: 586px;
    }

    .header_aboutMe > h1 {
        margin-top: 23px;
        font-size: 33px;
    }

    .my_about > ul:nth-child(1) {
        padding-left: 67px;
        padding-top: 41px;
    }

    .mid_sec_about {
        height: 45%;
    }

    .my_details_box {
        height: 42%;
    }

    #btn_DownloadCV {
        width: 173px;
        height: 43px;
        font-size: 19px;
    }

    .my_details_box {
        justify-content: space-evenly;
    }

    .my_article {
        font: 400 17px/25px Google Sans, -apple-system, BlinkMacSystemFont, sans-serif;
        margin-bottom: 0;
    }

    /*my services*/
    .service_div {
        height: 287px;
        width: 226px;
    }

    #header_service > h1 {
        margin-top: -11px;
        font-size: 33px;
    }

    /*education*/
    #header_education > h1 {
        margin-top: 2px;
        font-size: 33px;
    }

    #educationPage {
        height: 670px;
    }

    #mainSecEducation {
        height: 80%;
    }

    .Edu_Stages {
        font-size: 1.5em;
    }

    .Edu_Place {
        font-size: 17px;
    }

    #ijse_img_div {
        width: 145px;
        height: 52px;
    }

    #kannangara_img_div {
        width: 76px;
        height: 89px;
    }

    #makalandawa_img_div {
        width: 122px;
        height: 56px;
    }

    /*skils*/
    #tools_section {
        height: 24%;
    }

    #header_skills > h1 {
        margin-top: -10px;
        font-size: 33px;
    }

    #languages_section {
        width: 92%;
    }

    .lan_Box {
        width: 26%;
        height: 39%;
    }

    /*projexts*/
    #header_projects > h1 {
        margin-top: 20px;
        font-size: 33px;
    }

    .projectBox {
        width: 28%;
        height: 58%;
    }

    #projectsPage {
        height: 579px;
    }

    /*assignments*/
    #assignmentsPage {
        height: 700px;
    }

    #header_assignments {
        height: 17%;
    }

    #header_assignments > h1 {
        margin-left: 47px;
        margin-top: -25px;
        font-size: 33px;
    }

    #mainOfAssignments {
        width: 90%;
        height: 70%;
        flex-wrap: wrap;
    }

    .assignment_box {
        width: 34%;
        height: 45%;
    }

    #footerOfAssignments {
        align-items: center;
    }

    /*contact me page*/
    #contactMePage {
        height: 530px;
    }

    #header_contact_me > h1 {
        font-size: 22px;
    }

    #mainOfContactMe {
        width: 82%;
    }

    #sendMeBold {
        font-size: 17px;
    }

    #label {
        padding-bottom: 10px;
    }

    #h2_myContacts > span {
        font-size: 17px;
    }

    #details_list {
        font-size: 17px;
    }

    #txtFollowMe {
        font-size: 23px;
    }
}

@media all and (max-width: 768px) {
    /*nav*/
    label #btn {
        display: block;
    }

    #hidden_list {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #34495e;
        top: 80px;
        left: -103%;
        text-align: center;
        display: flex;
        flex-direction: column;
        transition: all .5s;
        margin-top: -20px;
        margin-left: 0px;
    }

    #hidden_list > li {
        display: block;
        margin: 50px 0;
        line-height: 60px !important;
    }

    #hidden_nav > ul > li > a {
        font-size: 18px !important;
    }

    #check:checked ~ ul {
        left: 0;
    }

    #check:checked ~ label #btn {
        display: none;
    }

    #check:checked ~ label #cancel {
        display: block;
    }


    /*home page*/
    .homepage {
        height: 600px;
    }

    .top_section {
        flex-direction: column-reverse;
        height: 80%;
    }

    .bottom_section {
        height: 20%;
        justify-content: center;
    }

    .welcome_details_box {
        width: 100%;
        height: 50%;
    }

    .welcome_details {
        height: 70%;
        justify-content: center;
        align-items: center;
    }

    .txt_hi {
        font-size: 56px;
        margin-bottom: 0;
        margin-top: -5px;
    }

    .txt_name {
        font-size: 56px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .txt_des {
        margin-top: 0;
    }

    .btn_hireMe {
        font-size: 27px !important;
    }

    .social_link_box {
        justify-content: center;
    }

    .deco_box {
        display: none;
    }

    .image_box {
        width: 90%;
    }

    .welcome_details_box {
        height: 45%;
    }

    .my_image {
        width: 47%;
        height: 89%;
    }

    #decoration_box {
        height: 177px;
        width: 177px;
        margin-left: -260px;
    }

    /*aboutme*/
    .my_about > ul:nth-child(1) {
        padding-left: 48px;
        font-size: 16px !important;
    }

    /*my services*/
    #service_sec {
        flex-wrap: wrap;
    }

    .service_div {
        height: 287px;
        width: 271px;
    }

    #servicesPage {
        height: 760px;
    }

    #service_sec > div:nth-child(3) {
        margin-top: 16px;
    }


    /*projects*/
    #mainOfProjects {
        flex-wrap: wrap;
    }

    .projectBox {
        width: 247px;
        height: 210px;
    }

    #projectsPage {
        height: 648px;
    }

    #header_projects {
        height: 18%;
    }

    #header_projects > h1 {
        margin-top: -6px;
    }

    #footerOfProjects {
        align-items: center;
    }


    .fa-brands {
        font-size: 36px;
    }
}


@media all and (max-width: 700px) {
    /*homepage*/
    .my_image {
        width: 52%;
        height: 89%;
    }

    /*about me*/
    .header_aboutMe > h1 {
        margin-top: 18px;
        font-size: 29px;
        margin-left: 44px;
    }

    .my_about > ul:nth-child(1) {
        padding-left: 34px;
        font-size: 15px !important;
    }

    .side_image_box {
        width: 166px;
        height: 166px;
        margin-top: 61px;
        margin-left: 30px;
    }

    .side_image_about {
        height: 100%;
        width: 100%;
    }

    #btn_DownloadCV {
        width: 144px;
        height: 36px;
        font-size: 17px;
    }

    .my_article {
        width: 90%;
        height: 52%;
        font: 400 14px/25px Google Sans, -apple-system, BlinkMacSystemFont, sans-serif;
    }

    /*service*/
    #header_service > h1 {
        margin-top: -17px;
        font-size: 29px;
        margin-left: 32px;
    }

    #servicesPage {
        align-items: center;
        height: 800px;
    }

    #header_service {
        height: 12%;
    }

    #service_sec {
        width: 55%;
        height: 100%;
    }

    .service_div {
        height: 212px;
        width: 212px;
    }

    .ser_icons {
        font-size: 40px;
    }

    .service_titles {
        font-size: 20px;
    }

    .service_arti {
        font-size: 15px;
    }

    #service_sec > div:nth-child(3) {
        margin-top: 0;
    }

    /*education  */
    #header_education > h1 {
        margin-top: -9px;
        font-size: 29px;
        margin-left: 36px;
    }

    #educationPage {
        align-items: center;
    }

    #mainSecEducation {
        width: 75%;
    }

    .year_div {
        width: 152px;
        height: 42px;
    }

    .rectangle {
        width: 107px;
        height: 29px;
    }

    .years {
        font-size: 16px;
    }

    .traingle {
        border-top: 21px solid transparent;
        border-left: 18px solid #7c5ef2;
        border-bottom: 21px solid transparent;
    }

    #edu_details {
        width: 38%;
    }

    .Edu_Stages {
        font-size: 22px;
    }

    #edu_details {
        width: 45%;
    }

    .Edu_Place {
        font-size: 16px;
    }

    #images_side {
        width: 27%;
    }

    /*skills*/
    #header_skills > h1 {
        margin-top: -6px;
        font-size: 29px;
        margin-left: 40px;
    }

    .tool_Box {
        width: 60px;
        height: 45px;
    }

    .subTopics > hr {
        display: none;
    }

    .subTopics {
        justify-content: center;
    }

    #mainOfSkills {
        justify-content: space-around;
    }

    #tools_section {
        height: 13%;
    }

    .lan_Box > h2 {
        font-size: 21px;
    }


    /*projects*/
    #header_projects {
        height: 11%;
    }

    #header_projects > h1 {
        font-size: 29px;
        margin-top: -13px;
        margin-left: 41px;
    }

    #mainOfProjects {
        width: 57%;
        height: 79%;
    }

    #projectsPage {
        height: 800px;
    }

    #footerOfProjects {
        height: 10%;
    }

    .projectBox {
        width: 211px;
        height: 190px;
    }

    .projectBox > h1 {
        font-size: 18px;
    }

    .projectBox > a > i {
        margin-top: 10px;
        font-size: 30px;
    }

    #footerOfProjects > div {
        margin-top: 0;
    }

    #footerOfProjects > div > a {
        font-size: 17px;
    }

    .projectBox > h1 {
        text-align: center;
    }


    /*assignments*/
    #assignmentsPage {
        height: 950px;
    }

    #header_assignments {
        height: 11%;
    }

    #header_assignments > h1 {
        margin-left: 38px;
        margin-top: -3px;
        font-size: 29px;
    }

    #mainOfAssignments {
        width: 79%;
        height: 79%;
    }

    .assignment_box {
        width: 340px;
        height: 167px;
    }

    #footerOfAssignments {
        height: 10%;
    }

    .assignment_name {
        font-size: 17px;
    }

    .assignment_box {
        justify-content: space-evenly;
    }

    .assignment_name {
        margin-top: 0;
    }

    .assignment_image_box {
        width: 200px;
        height: 90px;
    }

    .assignment_box > div:nth-child(3) {
        width: 36%;
    }

    #view_All_div {
        width: 120px;
        height: 40px;
    }

    /*contact me*/
    #contactMePage {
        height: 547px;
    }

    #sendAmessageDiv {
        display: none;
    }

    #mainOfContactMe {
        width: 65%;
        flex-direction: column;
        height: 56%;
    }

    #myContactsDiv {
        align-items: flex-start;
        width: 100%;
    }

    #h2_myContacts {
        display: none;
    }

    #footerOfContactMe {
        height: 41%;
    }

    #details_list {
        font-size: 21px;
        margin-left: 50px;
    }

    #details_list > dd {
        font-size: 17px;
    }
}

@media all and (max-width: 600px) {

    /*homepage*/
    .my_image {
        width: 62%;
        height: 89%;
    }

    .txt_hi {
        font-size: 48px;
    }

    .txt_name {
        font-size: 48px;
    }

    .txt_des {
        font-size: 21px;
    }

    .top_section {
        align-items: center;
    }

    .image_box {
        width: 200px;
        height: 50%;
    }

    .top_section {
        align-items: center;
        justify-content: flex-end;
    }

    .image_box {
        width: 200px;
        height: 50%;
    }

    .my_image {
        width: 78%;
        height: 82%;
    }

    #decoration_box {
        height: 154px;
        width: 154px;
        margin-left: -170px;
    }

    .welcome_details {
        width: 400px;
    }

    .btn_hireMe {
        font-size: 23px !important;
    }

    .social_links {
        width: 200px;
        height: 50px;
    }

    /*about me*/
    .header_aboutMe {
        /*justify-content: flex-start;*/
    }

    .header_aboutMe > h1 {
        margin-top: 0;
        font-size: 25px;
        margin-left: 0;
    }

    .mid_sec_about {
        flex-direction: column-reverse;
        height: 54%;
        align-items: center;
        justify-content: flex-end;
    }

    .my_details_box {
        height: 31%;
        justify-content: space-evenly;
    }

    .my_about > ul:nth-child(1) {
        padding-left: 0;
        padding-top: 0;
        margin-bottom: 0;
    }

    .side_image_box {
        width: 80px;
        height: 80px;
        margin-top: 0;
        margin-left: 0;
    }

    .my_about {
        height: 50%;
        width: 280px;
        margin-top: 20px;
    }

    .side_image_about {
        border: 3px solid #7c5ef2;
    }

    .my_article {
        text-align: center;
        width: 360px;
        height: 125px;
    }

    /*services*/

    #header_service > h1 {
        margin-top: 0;
        font-size: 25px;
        margin-left: 0;
    }

    /*education*/
    #header_education > h1 {
        margin-top: 0;
        font-size: 25px;
        margin-left: 0;
    }

    #header_education {
        height: 10%;
    }

    .Edu_Stages {
        font-size: 20px;
    }

    #images_side {
        width: 147px;
        margin-left: -56%;
        margin-top: 144px;
    }

    #mainSecEducation {
        width: 350px;
        height: 80%;
    }

    #years_side {
        width: 33%;
    }

    .year_div {
        width: 116px;
        height: 44px;
    }

    .rectangle {
        width: 80px;
        height: 29px;
    }

    #edu_details {
        width: 60%;
    }

    #kannangara_img_div {
        margin-top: 86px;
    }

    #educationPage {
        height: 750px;
    }

    .Edu_Place {
        font-size: 14px;
    }

    /*skills*/
    #header_skills {
        height: 11%;
    }

    #header_skills > h1 {
        margin-top: 0;
        font-size: 25px;
        margin-left: 0;
    }

    #skillsPage {
        height: 800px;
    }

    #mainOfSkills {
        justify-content: flex-start;
        align-items: center;
        width: 335px;
        height: 89%;
    }

    #languages_section {
        width: 310px;
        margin-top: 12px;
    }

    .lan_Box {
        width: 140px;
        height: 140px;
    }

    .subTopics {
        margin-top: 20px;
    }

    #tools_topic {
        margin-top: 40px;
    }

    #tools_section {
        width: 263px;
        flex-wrap: wrap;
        height: 17%;
    }

    .tool_Box {
        width: 53px;
        height: 42px;
    }


    /*projects*/

    #header_projects > h1 {
        font-size: 25px;
        margin-top: 0;
        margin-left: 0;
    }

    #footerOfProjects > div {
        width: 105px;
    }

    /*assignments*/

    #header_assignments > h1 {
        margin-left: 0;
        margin-top: 0;
        font-size: 25px;
    }

    #view_All_div > a {
        font-size: 18px;
    }

    #view_All_div {
        width: 113px;
        height: 35px;
    }


    /*contact me page*/
    #header_contact_me > h1 {
        font-size: 20px;
        margin-left: 0;
        margin-top: 0;
    }

    #footerOfContactMe {
        height: 25%;
    }

    #mainOfContactMe {
        height: 62%;
        background: none;
        margin-bottom: 0;
        width: 85%;
        justify-content: flex-end;
    }

    #myContactsDiv {
        background: linear-gradient(145deg, #181f34, #1d243e);
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
    }

    #details_list {
        margin-left: 19px;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #txtFollowMe {
        font-size: 20px;
        margin-top: 0;
    }

    small {
        margin-top: 20px;
    }

    #social_links {
        width: 243px;
    }

    #details_list {
        font-size: 19px;
    }

    #details_list > dd {
        font-size: 14px;
    }
}

@media all and (max-width: 400px) {
    /*homepage*/
    .image_box {
        height: 43%;
    }

    .my_image {
        width: 87%;
        height: 82%;
    }

    #decoration_box {
        height: 140px;
        width: 140px;
    }

    .txt_hi {
        font-size: 31px;
        margin-top: 0;
    }

    .txt_name {
        font-size: 31px;
    }

    .txt_des {
        font-size: 14px;
    }

    .btn_hireMe {
        font-size: 19px !important;
        width: 102px;
        height: 30px;
    }

    /*.homepage {*/
    /*    height: 516px;*/
    /*}*/
    .social_link_box {
        width: 250px;
    }

    .social_links {
        width: 100%;
        height: 42px;
    }

    .fa-brands {
        font-size: 33px;
    }

    .homepage {
        margin-top: 42px;
    }

    #hidden_nav {
        height: 50px;
    }

    label #btn, label #cancel {
        font-size: 25px;
        margin-right: 15px;
    }

    .welcome_details {
        height: 100%;
        justify-content: space-evenly;
    }

    /*about me*/
    .my_details_box {
        height: 33%;
    }

    .my_article {
        width: 281px;
        height: 124px;
        font: 400 12px/22px Google Sans, -apple-system, BlinkMacSystemFont, sans-serif;
    }

    #btn_DownloadCV {
        width: 118px;
        height: 31px;
        font-size: 16px;
    }

    .header_aboutMe > h1 {
        font-size: 21px;
    }

    /*services*/
    .service_div {
        height: 200px;
        width: 200px;
    }

    .service_titles {
        font-size: 19px;
    }

    #mobile_app_title {
        margin-top: 0;
    }

    #header_service {
        height: 10%;
    }

    #header_service > h1 {
        font-size: 21px;
    }

    /*education*/
    #header_education > h1 {
        font-size: 21px;
    }

    #mainSecEducation {
        width: 280px;
        margin-top: 20px;
    }

    #years_side {
        margin-right: -137px;
        margin-bottom: 86px;
        width: 50%;
    }

    #edu_details {
        width: 71%;
        margin-left: 16px;
        margin-top: 20px;
    }

    .traingle {
        border-top: 15px solid transparent;
        border-right: 17px solid #7c5ef2;
        border-bottom: 15px solid transparent;
        margin-left: -97px;
        border-left: 0;
    }

    .year_div {
        width: 116px;
        height: 44px;
        margin-right: -31px;
        margin-bottom: 7px;
    }

    .rectangle {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 7px;
        border-top-right-radius: 7px;
    }

    #ijse_img_div {
        width: 113px;
        height: 35px;
        margin-left: -39px;
    }

    #kannangara_img_div {
        width: 56px;
        height: 57px;
        margin-top: 77px;
        margin-left: -64px;
    }

    #makalandawa_img_div {
        width: 89px;
        height: 42px;
        margin-left: -56px;
    }

    .Edu_Stages {
        font-size: 18px;
    }


    /*skills*/
    #header_skills {
        height: 10%;
    }

    #header_skills > h1 {
        font-size: 21px;
    }

    #mainOfSkills {
        width: 278px;
    }

    #languages_section {
        width: 278px;
    }

    .lan_Box {
        width: 180px;
        height: 63px;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .lan_Box > h2 {
        font-size: 18px;
    }

    .lang_img_box {
        width: 48px !important;
        height: 48px !important;
    }

    #css_Box {
        margin-top: 0;
    }

    #html_Box {
        margin-top: 0;
    }

    .subTopics {
        margin-top: 8px;
    }

    .subTopics > h1 {
        font-size: 18px;
    }

    #tools_section {
        width: 236px;
    }

    .tool_Box {
        width: 48px;
        height: 37px;
    }

    /*projects*/
    #header_projects > h1 {
        font-size: 21px;
    }

    #mainOfProjects {
        width: 260px;
    }

    .projectBox {
        height: 170px;
        width: 220px;
    }

    .projectBox > h1 {
        font-size: 17px;
    }

    .projects_image_box {
        width: 130px;
        height: 72px;
    }

    #footerOfProjects > div {
        width: 99px;
        height: 34px;
    }

    #footerOfProjects > div > a {
        font-size: 15px;
    }

    /*assignments*/
    #header_assignments {
        height: 9%;
    }

    #header_assignments > h1 {
        font-size: 21px;
    }

    #mainOfAssignments {
        width: 240px;
    }

    .assignment_box {
        justify-content: space-evenly;
    }

    .assignment_name {
        margin-bottom: 0;
    }

    .assignment_image_box {
        width: 128px;
        height: 73px;
    }

    .assignment_box > div:nth-child(3) {
        height: 15%;
    }

    #view_All_div {
        width: 107px;
        height: 33px;
    }

    #view_All_div > a {
        font-size: 17px;
    }

    #contactMePage {
        background: linear-gradient(145deg, #181f34, #1d243e);
    }

    #details_list {
        font-size: 17px;
    }

    #details_list > dd {
        font-size: 13px;
    }

    #txtFollowMe {
        font-size: 18px;
    }

    #header_contact_me > h1 {
        font-size: 18px;
    }
}