/*navbar*/
.navbar {
    box-shadow: 1px 1px 7px 1px #00b712;
}

/*brand name*/
.navbar-brand {
    color: white;
    font-size: 22px;
}

/*nav links bar*/
.navbar-nav {
    padding-left: 22px;
}

/*when links hover*/
.nav-link:hover {
    color: white;
}
